body{
    background-color: rgb(0, 116, 228);
}
/* Estilização para seções */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* Centraliza o conteúdo das seções */
}

/* Estilização para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
body p {
    margin: 0;
}
.whatsapp-link{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    box-shadow: 1px 1px 2px #888;
}
.whatsapp-link:hover {
    background: #13c43f;
}
.instagram-link {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background: #dd3856;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.instagram-link:hover {
    background: #f09433;
}
.navbar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 100;
    right: 100;
    z-index: 1000;
    height: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-item {
    margin-right: 10px; /* Espaçamento entre os itens do menu */
}
  
.nav-link {
    color: #fff; /* Altere a cor dos links do menu como desejado */
}
.dropdown-menu{
    background-color: rgb(17, 20, 204);
    color: rgb(255, 255, 255);
}
.dropdown-item{
    color: aliceblue;
}